.reviewsContainer {
    padding: 1rem;
    background-color: white;
    border-radius: 0.625rem;
    margin-bottom: 2rem;

    @media (min-width: 800px) {
        padding: 1.5rem;
    }

    .reviewsTitle {
        display: inline-block;
        margin-right: 0.75rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 150%; /* 1.875rem */
        letter-spacing: -0.025rem;
        color: #1a202c;
    }

    .reviewsLength {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 1.3125rem */
        letter-spacing: -0.0175rem;
        background-color: #3563e9;
        color: white;
        padding: 0.25rem 1rem;
        border-radius: 0.25rem;
    }

    .reviews {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        @media (min-width: 800px) {
            gap: 1.5rem;
        }

        .showMore {
            align-self: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background-color: transparent;
            gap: 0.5rem;
            border: none;
            color: #90a3bf;
            display: flex;

            &:hover {
                cursor: pointer;
            }

            @media (min-width: 800px) {
                font-size: 1rem;
            }

            .icon {
                width: 0.87rem;
                height: 0.87rem;
                color: #90a3bf;
                margin-left: 0.5rem;
                align-self: center;
            }
        }
    }
}
