.rentalSummaryContainer {
    background-color: white;
    padding: 1rem;
    border-radius: 0.625rem;
    margin: 0rem 1.5rem;
    max-width: 500px;

    @media (min-width: 900px) {
        flex: 1;
        margin: unset;
        max-width: unset;
    }

    @media (min-width: 1250px) {
        padding: 1.5rem;
    }

    .title {
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 1.5rem */
        letter-spacing: -0.02rem;

        @media (min-width: 1250px) {
            font-size: 1.25rem;
        }
    }
    .p {
        color: #90a3bf;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 1.2rem */

        @media (min-width: 1250px) {
            font-size: 0.875rem;
        }
    }

    .box {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(195, 212, 233, 0.4);

        @media (min-width: 1250px) {
            margin-top: 1.62rem;
            padding-bottom: 1.62rem;
        }

        .imageContainer {
            background-color: #3563e9;
            width: 7.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
            border-radius: 0.5rem;

            @media (min-width: 1250px) {
                height: 6.75rem;
                width: 8.25rem;
            }
            .carImg {
                width: 6.3rem;

                @media (min-width: 1250px) {
                    width: 7.25rem;
                }
            }
        }
        .infoContainer {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .carName {
                color: #1a202c;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 1.75rem */

                @media (min-width: 1250px) {
                    font-size: 2rem;
                }
            }
            .stars {
                color: #3d5278;

                font-family: Plus Jakarta Sans;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.015rem;

                @media (min-width: 1250px) {
                    font-size: 0.875rem;
                }
            }
        }
    }

    .priceContainer {
        margin-top: 1rem;

        @media (min-width: 1250px) {
            margin-top: 2rem;
        }
        .field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.75rem;

            @media (min-width: 1250px) {
                margin-bottom: 1.5rem;
            }
            .title {
                color: #90a3bf;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.015rem;

                @media (min-width: 1250px) {
                    font-size: 1rem;
                }
            }
            .price {
                color: #1a202c;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 1.5rem */
                letter-spacing: -0.02rem;

                @media (min-width: 1250px) {
                    font-size: 1rem;
                }
            }
        }

        .promo {
            margin-top: 0.75rem;
            width: 100%;
            background-color: #f6f7f9;
            padding: 0.62rem 1.25rem;
            border-radius: 0.625rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 1250px) {
                margin-top: 2rem;
                padding: 1rem 2rem;
            }
            input {
                font-family: Plus Jakarta Sans;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.015rem;
                color: #90a3bf;
                border: none;
                background-color: transparent;

                @media (min-width: 1250px) {
                    font-size: 0.875rem;
                }

                &:focus {
                    outline: none;
                }
            }
            button {
                color: #1a202c;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.015rem;

                @media (min-width: 1250px) {
                    font-size: 1rem;
                }
            }
        }

        .total {
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 1250px) {
                margin-top: 2rem;
            }
            .text {
                .bold {
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%; /* 1.5rem */
                    letter-spacing: -0.02rem;
                    color: #1a202c;

                    @media (min-width: 1250px) {
                        font-size: 1.25rem;
                    }
                }
                .subp {
                    color: #90a3bf;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.0075rem;

                    @media (min-width: 1250px) {
                        font-size: 0.875rem;
                    }
                }
            }

            .totalP {
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 1.875rem */
                letter-spacing: -0.0375rem;

                @media (min-width: 1250px) {
                    font-size: 2rem;
                }
            }
        }
    }
}
