.filter {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    position: relative;

    @media (min-width: 450px) {
        align-items: center;
    }

    @media (min-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
    }
    // @media (min-width: 1250px) {
    //     gap: 2.75rem;
    // }

    .arrows {
        position: absolute;
        width: 3.75rem;
        height: 3.75rem;
        background-color: #3563e9;
        border-radius: 0.625rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        @media (min-width: 1200px) {
            position: unset;
            top: unset;
            left: unset;
            transform: unset;
            transform: rotate(90deg);
        }
    }
}
